@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">


    <div class="p-5 mb-4 my-5 bg-body-secondary border rounded-4 shadow">
        <div class="container-fluid py-5">
            <div class="d-flex align-items-center gap-4">

                <div class="flex-grow-1">
                    <h1 class="display-5 fw-bold text-start pb-5">Hi, I'm Brennon!</h1>
                    <p class="fs-4 text-start">
                        I'm a Georgia-based front-end developer and Computer Science student at Georgia Gwinnett College, graduating soon with a focus in Digital Media.
                        I have been making various projects since I have gained the ability to type on a computer, about 10 years.
                        What defines me and makes me stand out from the rest is efficiency. I am able to develop a working product quickly and adapt on the fly, delivering clean solutions even under tight deadlines.
                        Some of my featured projects are evidence of my ability. I have a solid understanding of user-centric UI and user-experience, and I aim to develop effective, swift and the most attractive programs out there.
                    </p>
                </div>

                <img src="~/images/selfie.png" class="rounded-4 img-fluid flex-shrink-0" style="width: 300px; height: 350px; object-fit: cover;" />

            </div>

            <div class="container text-start">
                <a href="https://github.com/Roachkinq21" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-github fs-1"></i>
                </a>
                <a href="https://www.linkedin.com/in/brennon-ary-222087224/?skipRedirect=true" class="btn btn-secondary" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin fs-1"></i>
                </a>
            </div>
            
            
            
        </div>
    </div>

    <div class="display-2 mb-4">
        Projects
    </div>

    <div id="carouselExample" class="carousel slide mb-4">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/MeatPartyCover.png" class="d-block w-100" alt="..." style="width: 100px; height: 800px; object-fit: cover;">
                </div>
                <div class="carousel-item">
                    <img src="~/Images/itchcoversmall.png" class="d-block w-100" alt="..." style="width: 100px; height: 800px; object-fit: cover;">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/mojave.png" class="d-block w-100" alt="..." style="width: 100px; height: 800px; object-fit: cover;">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>



                <div class="container fs-3 mb-4">
                    <p>Want more info about my projects?</p>
                    <a asp-page="/Projects" class="btn btn-secondary fs-3" target="_blank" rel="noopener noreferrer">
                        Go To Projects
                    </a>
                </div>


                <section id="education" class="bg-body-secondary p-4 rounded-5 mb-4">
                    <div class="container">
                        <h2 class="section-title display-4">Education</h2>
                        <hr class="my-3">
                        <div class="container fs-5">
                            <div class="row justify-content-between align-items-start mx-2 mb-1">
                                <div class="col-auto fw-semibold">Georgia Gwinnett College</div>
                                <div class="col-auto text-muted">August 2020 – May 2026</div>
                            </div>
                            <div class="mx-2 mb-2 fst-italic text-muted">
                                Bachelor of Science in Information Technology; Major in Digital Media
                            </div>
                            <div class="mx-2">
                                <span class="fw-semibold">Relevant Coursework:</span>
                                Web Technologies, Mobile Application Development, Software Development, Digital Design
                            </div>
                        </div>
                    </div>
                </section>

                <!--Skills-->
                <section id="skills" class="bg-body-secondary p-4 rounded-5 mb-4">
                    <div class="container">
                        <h2 class="section-title display-4">Skills</h2>
                        <hr class="my-3">
                        <div class="row g-4 mt-2 fs-4">

                            <div>
                                <h6 class="fs-1">Languages</h6>
                                <div class="d-flex flex-wrap gap-2 mt-2 mb-3">
                                    <button type="button" class="btn btn-primary">C#</button>
                                    <button type="button" class="btn btn-primary">Java</button>
                                    <button type="button" class="btn btn-primary">JavaScript</button>
                                    <button type="button" class="btn btn-primary">TypeScript</button>
                                    <button type="button" class="btn btn-primary">SQL</button>
                                    <button type="button" class="btn btn-primary">HTML</button>
                                    <button type="button" class="btn btn-primary">CSS</button>
                                    <button type="button" class="btn btn-primary">Python</button>
                                </div>
                            </div>

                            <div>
                                <h6 class="fs-1">Frameworks & Libraries</h6>
                                <div class="d-flex flex-wrap gap-2 mt-2 mb-3">
                                    <button type="button" class="btn btn-primary">ASP.NET Core</button>
                                    <button type="button" class="btn btn-primary">Razor</button>
                                    <button type="button" class="btn btn-primary">React</button>
                                    <button type="button" class="btn btn-primary">Bootstrap</button>
                                    <button type="button" class="btn btn-primary">TailwindCSS</button>
                                </div>
                            </div>

                            <div>
                                <h6 class="fs-1">Tools & Platforms</h6>
                                <div class="d-flex flex-wrap gap-2 mt-2 mb-3">
                                    <button type="button" class="btn btn-primary">Azure</button>
                                    <button type="button" class="btn btn-primary">Git</button>
                                    <button type="button" class="btn btn-primary">MySQL</button>
                                    <button type="button" class="btn btn-primary">Visual Studio</button>
                                    <button type="button" class="btn btn-primary">Visual Studio Code</button>
                                    <button type="button" class="btn btn-primary">Eclipse</button>
                                    <button type="button" class="btn btn-primary">Claude AI</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>

                <!--Work-->
                <section id="Employment" class="bg-body-secondary p-4 rounded-5 mb-4">
                    <div class="container">
                        <h2 class="section-title display-4">Employment</h2>
                        <hr class="my-3">
                    </div>

                    <div class="container fs-5">
                        <div class="row justify-content-between align-items-start mx-2 mb-1">
                            <div class="col-auto fw-semibold">Publix Supermarket</div>
                            <div class="col-auto text-muted">April 2021 – Present</div>
                        </div>
                        <div class="mx-2 ms-4 mb-2 fst-italic text-muted text-start">
                            Front Service Clerk
                        </div>
                        <div class="mx-2 mb-5 text-start">
                            <ul class ="list-unstyled ps-3">
                                <li class="mb-2">&#8227; Delivered consistent customer service by resolving inquiries and ensuring a positive shopping experience.</li>
                                <li class="mb-2">&#8227; Processed cash, credit, and digital transactions accurately in a high-volume retail environment.</li>
                                <li class="mb-2">&#8227; Assisted in supervising and coordinating cashiers and baggers to maintain efficient front-end operations.</li>
                            </ul>
                        </div>

                        <div class="container fs-5">
                            <div class="row justify-content-between align-items-start mx-2 mb-1">
                                <div class="col-auto fw-semibold">Lead Game Developer</div>
                                <div class="col-auto text-muted">August 2020 – May 2026</div>
                            </div>
                            <div class="mx-2 mb-2 ms-4 fst-italic text-muted text-start">
                                Video Game Developer
                            </div>
                            <div class="mx-2 mb-5 text-start">
                                <ul class="list-unstyled ps-3">
                                    <li class="mb-2">&#8227; Led a small team of developers through the full game development lifecycle.</li>
                                    <li class="mb-2">&#8227; Designed user-centric UI/UX interfaces for games and web applications.</li>
                                    <li class="mb-2">&#8227; Developed and implemented core gameplay logic and mechanics.</li>
                                    <li class="mb-2">&#8227; Produced concept art, character designs, and production-ready game assets.</li>
                                </ul>
                            </div>
                        </div>   
                    </div>       
                </section>

                <!--InfoCard-->
                <div class="card text-center bg-body-secondary fs-4 mt-5">
                    <div class="card-header">
                        @* <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link text-white" aria-current="true" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Resume</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                            </li>
                        </ul> *@
                    </div>

                    <div class="row g-1">
                        <div class="col-md-2">
                            <img src="~/images/selfie2.png" class="img-fluid img-thumbnail rounded-start" alt="..." style="width: 300px; height: 200px; object-fit: cover;">
                            </div>

                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title d-flex">Special title treatment</h5>
                                    <p class="card-text d-flex">With supporting text below as a natural lead-in to additional content.</p>
                                    <div class="d-flex flex-row mb-3">
                                        <button type="button" class="btn btn-primary fs-2 me-2" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="brennonary@protonmail.com"><i class="bi bi-envelope"></i> Email</button>
                                        <button type="button" class="btn btn-primary fs-2 me-2" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="(678)-357-9992)"><i class="bi bi-telephone"></i> Phone</button>
                                    </div>
                                </div>
                            </div>
                        </div>

  
  
                    </div>


                </div>
