@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p class="fs-4">This site is published on Microsoft Azure cloud services and used for information purposes only. <br />
    No information is collected.</p>
