@page
@model PortfolioSite2.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}


<h1 class="mt-5 display-4">@ViewData["Title"]</h1>

<hr class="my-3">

<div class="container mt-5 fs-5">
    <div class="card mb-3">
        <img src="~/Images/itchcoversmall.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hold Onto Mi</h5>
                <p class="card-text">My ongoing passion project in which I manage a small, independent team to develop a visual novel.</p>
                <p class="card-text"><small class="text-body-secondary">WORK IN PROGRESS</small></p>
            </div>
        </div>

        <div class="card mb-3">
            <img src="~/Images/MeatPartyCover.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title fs-1">Meat Party</h5>
                    <p class="card-text">
                        This project is a capstone project that encapsulates everything I have learned throughout my college studies.<br />
                        Within three months, I was tasked with brainstorming, developing and publishing a working, if not finished, product that anyone can run and try for themselves.
                    </p>
                    <p>
                        The game runs on Godot
                    </p>
                    <iframe frameborder="0" src="https://itch.io/embed/4080006?dark=true" width="552" height="167"><a href="https://pinklettuce.itch.io/meatparty">MeatParty by PinkLettuce</a></iframe>
                    <div class="container text-start">
                        <button type="button" class="btn btn-secondary"><i class="bi bi-github fs-1"></i></button>
                    </div>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>

            <div class="card mb-3">
                <img src="~/Images/mojave.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Walk The Mojave</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <div class="container text-start">
                            <button type="button" class="btn btn-secondary"><i class="bi bi-github fs-1"></i></button>
                        </div>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>

                <div class="card mb-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Walk The Mojave</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>

                <div class="card mb-3">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Walk The Mojave</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
