@page
@model PortfolioSite2.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}
<h1 class="mt-5 display-4">@ViewData["Title"]</h1>

    <div class="container mt-5">
    <div class="card mb-3">
        <img src="~/Images/itchcoversmall.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Hold Onto Mi</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card mb-3">
        <img src="~/Images/MeatPartyCover.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title fs-1">Meat Party</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card mb-3">
                <img src="~/Images/mojave.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Walk The Mojave</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card mb-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Walk The Mojave</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>

    <div class="card mb-3">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Walk The Mojave</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
    </div>
    </div>
