<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Brennon Ary</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProf.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
</head>
<body class="bg-body text-white">
    <header class="d-flex justify-content-center p-3 bg-body-tertiary shadow">
        <div class="me-3">
            <h1>>Brennon Ary</h1>
        </div>

        <div class="container-lg fs-4">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a asp-page="/Index" class="nav-link text-white @(ViewContext.RouteData.Values["page"]?.ToString() == "/Index" ? "active" : "")" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-page="/Projects" class="nav-link text-white @(ViewContext.RouteData.Values["page"]?.ToString() == "/Projects" ? "active" : "")">Projects</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">About</a>
                </li>
            </ul>
        </div>

        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-body-tertiary text-white-50 py-2">
        <div class="container">
            &copy; 2026 - WebProf - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
